<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">SEARCH QUESTION</a>
    <br><br><br>
    <ng-container *ngIf="userType == 'user'">
        <a routerLinkActive="active" routerLink="/user-dashboard">USER DASH</a>
    </ng-container>
    <ng-container *ngIf="userType == 'admin'">
        <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
        <a routerLinkActive="active" routerLink="/pending-questions">PENDING QUESTIONS</a>
        <a routerLinkActive="active" routerLink="/pending-answers">PENDING ANSWERS</a>
    </ng-container>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>
<br> 


<label for="query">Search Question</label>
<input type="text" [(ngModel)]="query" name="query" placeholder="Enter a question">

<br>
<table>
    <tr style="background-color: rgb(0, 195, 255);">
    <th>Id</th>
    <th>Title</th>
    <th>Topic</th>
    <th>Question</th>
    <th>Action</th>
    </tr>
    <tr *ngFor="let question of questions">
        <td style="padding: 0 50px"  style="padding: 0 50px" *ngIf="question.title.includes(query)">{{question.id}}</td>
        <td style="padding: 0 50px"  style="padding: 0 50px" *ngIf="question.title.includes(query)">{{question.title}}</td>
        <td style="padding: 0 50px"  style="padding: 0 50px" *ngIf="question.title.includes(query)">{{question.topic}}</td>
        <td style="padding: 0 50px"  style="padding: 0 50px" *ngIf="question.title.includes(query)">{{question.description_question}}</td>
        <td style="padding: 0 50px" *ngIf="question.title.includes(query)"><button routerLinkActive="active" routerLink="/question-details" (click)="setCurrQuestionId(question.id)">Question Details</button> <br>
        </td>
    </tr>
</table>
<!-- <ng-container *ngFor="let question of questions">
    <ng-container *ngIf="question.title.includes(query)">
        {{question.description_question}}
        {{question.title}}
        {{question.qcreated_by}}
        <img [src]="ss_yoshigalint9.png">
        {{question.qapproved_by}}
        {{question.topic}}
        {{question.datetime}}

    <button routerLinkActive="active" routerLink="/question-details" (click)="setCurrQuestionId(question.id)">Question Details</button> <br>

        <br>
    </ng-container>
</ng-container> -->


<!-- <form novalidate #SEARCH_QUESTION_FORM="ngForm" (ngSubmit)="onSubmitLogin()">
    <div>
        <label for="userName">Username</label>
        <input type="text" [(ngModel)]="loginForm.userName" name="userName" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" [(ngModel)]="loginForm.password" name="password" required minlength="4">
    </div> 
    <button [disabled]="LOGIN_FORM.invalid" type="submit">Login</button>
</form> -->