<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">PENDING QUESTIONS</a>
    <br><br><br>
    <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
    <a routerLinkActive="active" routerLink="/pending-answers">PENDING ANSWERS</a>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>
<br>

<div *ngIf="pending==0; else elseBlock">No pending questions to display.</div>

<ng-template #elseBlock>
<table>
    <tr style="background-color: rgb(0, 195, 255);">
    <th>Id</th>
    <th>Image</th>
    <th>Author</th>
    <th>Time</th>
    <th>Topic</th>
    <th>Question</th>
    <th>Action</th>
    </tr>
    <tr *ngFor="let question of questions; let i=index">
        <td style="padding: 0 5px" *ngIf="question.status == 'pending'">{{question.id}}</td>
        <td style="padding: 0 0px" *ngIf="question.status == 'pending'"><img src="{{question.image_src}}" height="100" width="100"></td>
        <td style="padding: 0 5px" *ngIf="question.status == 'pending'">{{question.qcreated_by}}</td>
        <td style="padding: 0 5px" *ngIf="question.status == 'pending'">{{question.datetime}}</td>
        <td style="padding: 0 5px" *ngIf="question.status == 'pending'">{{question.topic}}</td>
        <td style="padding: 0 5px" *ngIf="question.status == 'pending'">{{question.description_question}}</td>
        <td style="padding: 0 5px" *ngIf="question.status == 'pending'"><button (click)="approve(i)">Approve</button>        <button (click)="remove(i)">Remove</button>
        </td>
    </tr>
</table>
</ng-template>
<!-- <ng-container *ngFor="let question of questions; let i = index">
    <ng-container *ngIf="question.status == 'pending'">
        {{question.id}}
        {{question.qcreated_by}}
        {{question.qapproved_by}}
        {{question.topic}}
        {{question.datetime}}
        {{i}}
        <button (click)="approve(i)">Approve</button>
        <button (click)="remove(i)">Remove</button>
        <br><br>
    </ng-container>
</ng-container> -->