<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">PENDING QUESTIONS</a>
    <br><br><br>
    <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
    <a routerLinkActive="active" routerLink="/pending-answers">PENDING ANSWERS</a>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>
<br>

<ng-container *ngFor="let question of questions; let i = index">
    <ng-container *ngIf="question.status == 'pending'">
        {{question.id}}
        {{question.qcreated_by}}
        {{question.qapproved_by}}
        {{question.topic}}
        {{question.datetime}}
        {{i}}
        <button (click)="approve(i)">Approve</button>
        <button (click)="remove(i)">Remove</button>
        <br><br>
    </ng-container>
</ng-container>