<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">QUESTION DETAILS</a>
    <br><br><br>
    <ng-container *ngIf="userType == 'user'">
        <a routerLinkActive="active" routerLink="/user-dashboard">USER DASH</a>
    </ng-container>
    <ng-container *ngIf="userType == 'admin'">
        <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
        <a routerLinkActive="active" routerLink="/pending-questions">PENDING QUESTIONS</a>
        <a routerLinkActive="active" routerLink="/pending-answers">PENDING ANSWERS</a>
    </ng-container>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>

<body>
    <img src="{{question.image_src}}" height="100">
    <table>
        <th>Id</th>
        <th>Topic</th>
        <th>Title</th>
        <th>Description</th>
        <tr>
            <td>{{question.id}}</td>
            <td>{{question.topic}}</td>
            <td>{{question.title}}</td>
            <td>{{question.description_question}}</td>
            
        </tr>
    </table>

    <h1>Answers</h1>
    <table>
        <th>Id</th>
        <th>Image</th>
        <th>Description</th>
        <th>Author</th>
        <tr *ngFor="let answer of answers">
            <td *ngIf="answer.status=='accepted'">{{answer.id}}</td>
            <td *ngIf="answer.status=='accepted'"><img src="answer.image_src"></td>
            <td *ngIf="answer.status=='accepted'">{{answer.description_answer}}</td>
            <td *ngIf="answer.status=='accepted'">{{answer.created_by}}</td>

        </tr>
    </table>
<!-- <p>
    {{question_id}}
    {{question.description_question}}
    {{question.image_src}}
    {{question.datetime}}
    {{question.status}}
    {{question.topic}}
    {{question.title}}
    {{question.answers}}
    {{question.qcreated_by}}
    {{question.qapproved_by}}
</p> -->

<!-- <br><br><br>
<ng-container *ngFor="let answer of answers; let i = index">

    <ng-container *ngIf="answer.status == 'accepted'">
    Answer index: {{i}}
    {{answer.description_answer}}
    {{answer.image_src}}
    {{answer.status}}
    {{answer.datetime}}
    {{answer.question}}
    {{answer.approved_by}}
    {{answer.created_by}}
    <br><br>
    </ng-container>
</ng-container> -->
<h2>Create Answer</h2>
<answer></answer>
</body>

