<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">QUESTION DETAILS</a>
    <br><br><br>
    <ng-container *ngIf="userType == 'user'">
        <a routerLinkActive="active" routerLink="/user-dashboard">USER DASH</a>
    </ng-container>
    <ng-container *ngIf="userType == 'admin'">
        <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
        <a routerLinkActive="active" routerLink="/pending-questions">PENDING QUESTIONS</a>
        <a routerLinkActive="active" routerLink="/pending-answers">PENDING ANSWERS</a>
    </ng-container>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>

<!-- <body> -->
<h1 style="text-align:center; margin-right:700px;">Question</h1>
<div style="text-align:center">
    <img style="margin-left:auto; margin-right:auto;" src="{{question.image_src}}" height="100">
    <table>
        <tr style="background-color: rgb(0, 195, 255);">
        <th>Id</th>
        <th>Author</th>
        <th>Time</th>
        <th>Topic</th>
        <th>Title</th>
        <th>Question</th>
        </tr>
        <tr>
            <td style="padding: 0 5px">{{question.id}}</td>
            <td style="padding: 0 5px">{{question.qcreated_by}}</td>
            <td style="padding: 0 5px">{{question.datetime}}</td>
            <td style="padding: 0 5px">{{question.topic}}</td>
            <td style="padding: 0 5px">{{question.title}}</td>
            <td style="padding: 0 5px">{{question.description_question}}</td>
        </tr>
    </table>
</div>

    
    <h1 style="text-align:center; margin-right:700px;">Answers</h1>
    <div *ngIf="numOfAnswersAccepted==0; else elseBlock">No answers to display.</div>

    <ng-template #elseBlock>
    <table>
        <tr style="background-color: rgb(0, 195, 255);">
        <th>Id</th>
        <th>Image</th>
        <th>Author</th>
        <th>Time</th>
        <th>Answer</th>
        </tr>
        <ng-container *ngFor="let answer of answers">
            <ng-container *ngIf="answer.status == 'accepted'">
                <tr>
                    <td style="padding: 0 5px">{{answer.id}}</td>
                    <td style="padding: 0 0px"><img src="{{answer.image_src}}" width="100px" height="100px"></td>
                    <td style="padding: 0 5px">{{answer.created_by}}</td>
                    <td style="padding: 0 5px">{{answer.datetime}}</td>
                    <td style="padding: 0 5px">{{answer.description_answer}}</td>
                </tr>
            </ng-container>
        </ng-container>
    </table>
    </ng-template>
<!-- <p>
    {{question_id}}
    {{question.description_question}}
    {{question.image_src}}
    {{question.datetime}}
    {{question.status}}
    {{question.topic}}
    {{question.title}}
    {{question.answers}}
    {{question.qcreated_by}}
    {{question.qapproved_by}}
</p> -->

<!-- <br><br><br>
<ng-container *ngFor="let answer of answers; let i = index">

    <ng-container *ngIf="answer.status == 'accepted'">
    Answer index: {{i}}
    {{answer.description_answer}}
    {{answer.image_src}}
    {{answer.status}}
    {{answer.datetime}}
    {{answer.question}}
    {{answer.approved_by}}
    {{answer.created_by}}
    <br><br>
    </ng-container>
</ng-container> -->
<h2 style="text-align:center; margin-right:650px;">Create Answer</h2>
<answer style="text-align:center;"></answer>
<!-- </body> -->

