<!-- <p>This is the landing page, lesgoooooooooooo</p> -->
<!-- <button class="nav-link" routerLinkActive="active" routerLink="/login">Go To Login Page</button> -->
<form class="landing-form">
    <head>
        <link rel="stylesheet" type="text/css" href="landing.component.css">
    </head>
    
    <div>
        <h1>Welcome to Group 5's Capstone!</h1>

    <div class="container">
        <button class="button" routerLinkActive="active" routerLink="/login">Login/Register</button>
        <button class="button" routerLinkActive="active" routerLink="/about">About Us</button>

    </div>
  
    </div>
</form>