<form novalidate #ANSWER_FORM="ngForm" (ngSubmit)="onSubmitAnswer(answer_form)">
    
    
    <div>  
        <label for="description_answer">Answer Description</label>
        <input type="text" [(ngModel)]="answer_form.description_answer" name="description_answer" required>
    </div>
    
    <div>
        <form action="/action_page.php">
            <label for="img">Select image:</label>
            <input type="file" [(ngModel)]="answer_form.image_src" id="img" name="img" accept="image/*">
            </form>
    </div>
    
    <button [disabled]="ANSWER_FORM.invalid" type="submit">Submit</button>
</form>
<!-- <ng-container *ngIf="answerSubmitted">
    <p  routerLinkActive="active" routerLink="/admin-dashboard"></routerLinkActive>
</ng-container> -->