<style>
    button 
    { 
        background-color:aqua ; font-family: serif;
    }
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <button class="nav-link" routerLinkActive="active" routerLink="/login" (click)="toggleLogin(); toggleLanding()">Go To Login Page</button>
                </li>
            </ul>
    </div>
</nav>

<ng-container *ngIf="showLanding">
    <landing></landing>
</ng-container>

<ng-container *ngIf="showLogin">
    <login></login>
</ng-container>

<ng-container *ngIf="showAdminDashboard">
    <admin-dashboard></admin-dashboard>
</ng-container>



<!-- <div class="container text-center">
    <router-outlet></router-outlet>
</div> -->



<!-- <question></question> -->
<!-- <user></user> -->