<!-- <form novalidate #QUESTION_FORM="ngForm" (ngSubmit)="onSubmitQuestion(question_form)">
    <div>
        <label for="qcreated_by">Creator</label>
        <input type="text" [(ngModel)]="question_form.qcreated_by" name="qcreated_by" required>
    </div>

    <div>
        <label for="qapproved_by">Acceptor</label>
        <input type="text" [(ngModel)]="question_form.qapproved_by" name="qapproved_by" required>
    </div>

    <div> 
        <label for="topic">Topic</label>
        <input type="text" [(ngModel)]="question_form.topic" name="topic" required>
    </div>

    <div>
        <form action="/action_page.php">
            <label for="img">Select image:</label>
            <input type="file" [(ngModel)]="question_form.image_src" id="img" name="img" accept="image/*">
        </form>
    </div>
    
    <button [disabled]="QUESTION_FORM.invalid" type="submit">Submit</button>
</form> -->
<h1>Questions</h1>

<table>
    <tr style="background-color: rgb(0, 195, 255);">
    <th>Id</th>
    <th>Image</th>
    <th>Author</th>
    <th>Time</th>
    <th>Topic</th>
    <th>Title</th>
    <th>Question</th>
    <th>Action</th>
    </tr>
    <tr *ngFor="let question of questions">
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">{{question.id}}</td>
        <td style="padding: 0 0px" *ngIf="question.status=='accepted'"> <img src='{{question.image_src}}' height='100px' width="100px"></td>
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">{{question.qcreated_by}}</td>
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">{{question.datetime}}</td>
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">{{question.topic}}</td>
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">{{question.title}}</td>
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">{{question.description_question}}</td>
        <td style="padding: 0 5px" *ngIf="question.status=='accepted'">    <button routerLinkActive="active" routerLink="/question-details" (click)="setCurrQuestionId(question.id)">Question Details</button> <br>
        </td>
    </tr>
</table>
<!-- <img src='ss_yoshigalint9.png'> -->
<!-- <ng-container *ngFor="let question of questions; let i = index">
    <ng-container *ngIf="question.status=='accepted'">
    {{question.id}}
    {{question.qcreated_by}}
    {{question.topic}}
    {{question.datetime}}
    <button routerLinkActive="active" routerLink="/question-details" (click)="setCurrQuestionId(question.id)">Question Details</button> <br>
    </ng-container> -->
    <!-- this is good code right here -->
    <!-- <button (click)="onOpenAnswerForm(question)">Answer</button> <br>
    
    <div *ngIf='(question.toggleAnswer)'>
        <answer (answerEventEmitter)='updateCurrQuestionsAnswers($event, question)'></answer>
    </div>

    <ng-container *ngFor="let answer of question.answers">
        <div *ngIf='answer.status == "accepted"'>
            {{answer.image_src}}
        </div>
    </ng-container> -->
<!-- </ng-container> -->

<!-- <create-question (newQuestionEvent)="addQuestion($event)"></create-question> -->