<form novalidate #REGISTER_FORM="ngForm" (ngSubmit)="onSubmitRegister()">
    <div>
        <label for="userName">Username</label>
        <input type="text" [(ngModel)]="registerForm.userName" name="userName" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" [(ngModel)]="registerForm.password" name="password" required minlength="4">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" [(ngModel)]="registerForm.email" name="email" required>
    </div>
    <div>
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="registerForm.name" name="name" required>
    </div>
    <br>
    <div>
        <label for="userType">User Type </label>
        <select name="userType" [(ngModel)]="registerForm.userType">
            <option *ngFor="let u of userTypes" [ngValue]="u">{{u}}</option>
        </select>
    </div>
    <br>
    <button [disabled]="REGISTER_FORM.invalid" type="submit">Register</button>
</form>