<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">PENDING ANSWERS</a>
    <br><br><br>
    <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
    <a routerLinkActive="active" routerLink="/pending-questions">PENDING QUESTIONS</a>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>
<br>


<table>
    <th>Id</th>
    <th>DateTime</th>
    <th>Description</th>
    <th>Author</th>
    <th>Action</th>
    <tr *ngFor="let answer of answers; let i=index">
        <td style="padding: 0 50px" *ngIf="answer.status == 'pending'">{{answer.id}}</td>
        <td style="padding: 0 50px" *ngIf="answer.status == 'pending'">{{answer.datetime}}</td>
        <td style="padding: 0 50px" *ngIf="answer.status == 'pending'">{{answer.description_answer}}</td>
        <td style="padding: 0 50px" *ngIf="answer.status == 'pending'">{{answer.created_by}}</td>
        <td style="padding: 0 50px" *ngIf="answer.status == 'pending'"><button (click)="approve(i)">Approve</button>        <button (click)="remove(i)">Remove</button>
        </td>

    </tr>
</table>
<!-- <ng-container *ngFor="let answer of answers; let i = index">
    <ng-container *ngIf="answer.status == 'pending'">
        {{answer.id}}
        {{answer.description_answer}}
        {{answer.image_src}}
        {{answer.datetime}}
        {{answer.question}}
        {{i}}
        <button (click)="approve(i)">Approve</button>
        <button (click)="remove(i)">Remove</button>
        <br><br>
    </ng-container>
</ng-container> -->