<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">
        <a class="navbar-brand" href="#">Home</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <button class="nav-link" routerLinkActive="active" routerLink="/admin-dashboard">Go to Admin Dash</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" routerLinkActive="active" routerLink="/pending-questions">Go to Pending Questions</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" routerLinkActive="active" routerLink="/pending-answers">Go to Pending Answers</button>
                </li>
            </ul>
    </div>
</nav>


<table>
    <th>Id</th>
    <th>DateTime</th>
    <th>Author</th>
    <th>Action</th>
    <tr *ngFor="let answer of answers; let i=index">
        <td *ngIf="answer.status == 'pending'">{{answer.id}}</td>
        <td *ngIf="answer.status == 'pending'">{{answer.datetime}}</td>
        <td *ngIf="answer.status == 'pending'">{{answer.created_by}}</td>
        <td *ngIf="answer.status == 'pending'"><button (click)="approve(i)">Approve</button>        <button (click)="remove(i)">Remove</button>

        </td>

    </tr>
</table>
<!-- <ng-container *ngFor="let answer of answers; let i = index">
    <ng-container *ngIf="answer.status == 'pending'">
        {{answer.id}}
        {{answer.description_answer}}
        {{answer.image_src}}
        {{answer.datetime}}
        {{answer.question}}
        {{i}}
        <button (click)="approve(i)">Approve</button>
        <button (click)="remove(i)">Remove</button>
        <br><br>
    </ng-container>
</ng-container> -->