<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">PENDING ANSWERS</a>
    <br><br><br>
    <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
    <a routerLinkActive="active" routerLink="/pending-questions">PENDING QUESTIONS</a>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>
<br>

<div *ngIf="pending==0; else elseBlock">No pending answers to display.</div>

<ng-template #elseBlock>
<table>
    <tr style="background-color: rgb(0, 195, 255);">
    <th>Id</th>
    <th>Image</th>
    <th>Author</th>
    <th>Time</th>
    <th>Answer</th>
    <th>Action</th>
    </tr>
    <ng-container *ngFor = "let answer of answers; let i = index">
        <ng-container *ngIf = "answer.status == 'pending'">
            <tr>
                <td style="padding: 0 5px">{{answer.id}}</td>
                <td style="padding: 0 0px"><img src="{{answer.image_src}}" height="100" width="100"></td>
                <td style="padding: 0 5px">{{answer.created_by}}</td>
                <td style="padding: 0 5px">{{answer.datetime}}</td>
                <td style="padding: 0 5px">{{answer.description_answer}}</td>
                <td style="padding: 0 5px"><button (click)="approve(i)">Approve</button> &nbsp; <button style="background-color:rgb(217, 0, 0)" (click)="remove(i)">Remove</button>
                </td>
            </tr>
        </ng-container>
    </ng-container>
</table>

</ng-template>
<!-- <ng-container *ngFor="let answer of answers; let i = index">
    <ng-container *ngIf="answer.status == 'pending'">
        {{answer.id}}
        {{answer.description_answer}}
        {{answer.image_src}}
        {{answer.datetime}}
        {{answer.question}}
        {{i}}
        <button (click)="approve(i)">Approve</button>
        <button (click)="remove(i)">Remove</button>
        <br><br>
    </ng-container>
</ng-container> -->