<form novalidate #LOGIN_FORM="ngForm" (ngSubmit)="onSubmitLogin(LOGIN_FORM)">
    <div>
        <label for="userName">Username</label>
        <input type="text" [(ngModel)]="loginForm.userName" name="userName" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" [(ngModel)]="loginForm.password" name="password" required minlength="4">
    </div> 
    <button [disabled]="LOGIN_FORM.invalid" type="submit">Login</button>
</form>

<button routerLinkActive="active" routerLink="/register">Register</button>


<br><br>
<!-- temporary, use on successful login -->
<!-- <button class="nav-link" routerLinkActive="active" routerLink="/admin-dashboard">Go To Admin Dash</button> -->
