<div class="container cyan topBotomBordersOut">
    <a style="font-size: xx-large; font-weight: 1000; color:white; ">CHATTING WITH {{chatUser.userName}} ({{chatUser.name}})</a>
    <br><br><br>
    <ng-container *ngIf="userType == 'user'">
        <a routerLinkActive="active" routerLink="/user-dashboard">USER DASH</a>
    </ng-container>
    <ng-container *ngIf="userType == 'admin'">
        <a routerLinkActive="active" routerLink="/admin-dashboard">ADMIN DASH</a>
        <a routerLinkActive="active" routerLink="/pending-questions">PENDING QUESTIONS</a>
        <a routerLinkActive="active" routerLink="/pending-answers">PENDING ANSWERS</a>
    </ng-container>
    <a routerLinkActive="active" routerLink="/search-question">SEARCH QUESTION</a>
    <a routerLinkActive="active" routerLink="/create-question">CREATE QUESTION</a>
    <a routerLinkActive="active" routerLink="/chat-homepage">CHAT</a>
    <a routerLinkActive="active" routerLink="/home">LOG OUT</a>
</div>
<br>

<div id="textbox">
    <p class="alignright">{{user.userName}} ({{user.name}})</p>
    <p class="alignleft">{{chatUser.userName}} ({{chatUser.name}})</p>
</div>
<div style="clear: both;"></div>

<br><br>

<div>
    <ng-container *ngFor="let chat of chats">
        <ng-container *ngIf="chat.fromUser == user.userName">
            <p style="text-align: right;">{{chat.datetime}}</p>
            <p style="text-align: right;"><span style="border-radius: 25px;background-color: white;border-style:solid; border-width: 2px;border-color: black;margin-left: auto;padding-left: 20px; padding-right: 20px;">{{chat.message}}</span></p>
            <!-- <div style="clear: both;"></div> -->
        </ng-container>
        <ng-container *ngIf="chat.fromUser == chatUser.userName">
            <p style="text-align: left;">{{chat.datetime}}</p>
            <p style="text-align: left;"><span style="border-radius: 25px;background-color: white;text-align:center;border-style:solid; border-width: 2px;border-color: black;margin-left: auto;padding-right: 20px; padding-left: 20px;">{{chat.message}}</span></p>
            <!-- <div style="clear: both;"></div> -->
        </ng-container>
    </ng-container>
</div>
<div style="clear: both;"></div>

<br><br><br>

<div>
    <form novalidate #CHAT_FORM="ngForm" (ngSubmit)="onSubmitChat()" class="alignright">
        <div>
            <label for="message">Message</label> <br>
            <input type="text" [(ngModel)]="chat_form.message" name="message" style="padding-bottom: 50px; padding-right:200px" required>
        </div>    
        <button [disabled]="CHAT_FORM.invalid" type="submit">Send</button>
    </form>
</div>